CompileFlags:
  Remove: 
    - -D_GNU_SOURCE
    - -mlongcalls
    - -mdisable-hardware-atomics
    - -fstrict-volatile-bitfields
    - -fno-tree-switch-conversion
    - -fno-canonical-system-headers
    - -free
    - -fipa-pta

Diagnostics:
  Suppress:
    - "pp_expr_bad_token_lparen"
    - "pp_file_not_found"
    - "drv_unknown_argument"
